body,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

/* main */
.container {
  display: flex;
  justify-content: left;
}
.nav-left {
  /* width: 70px; */
  /* padding: 0.5rem; */
}
/* css변경 */
.nav-icon {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  font-size: 10px;
}
.nav-icon img {
  margin-bottom: 0.5rem;
}

.main-con {
  width: 95vw;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 5px 0 0 10px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 635px;
}
.search input {
  width: 540px;
  height: 38px;
  border: 1px solid #d3d3d3;
  margin-top: 1rem;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding-left: 20px;
  outline: none;
}
.search input:focus {
  border-style: none;
  border: 1px solid #d3d3d3;
}
.btn-search {
  width: 65px;
  margin: 16px 0 0 -1px;
  padding: 5px 0 11px;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 1.2rem;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.IconAlarm {
  margin: 0 18px;
}
.User {
  width: 56px;
  height: 36px;
  border-radius: 50px;
  background: url(../public/images/login_user.jpg) no-repeat;
}

.menu-filter {
  margin: 1rem 0 0 0.5rem;
  display: flex;
  min-width: 1200px;
  font-size: 13px;
}
.menu-filter ul {
  display: flex;
}
.menu-filter li {
  padding: 9px 10px;
  margin-left: 12px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.menu-filter li.m-select {
  background-color: black;
  color: #fff;
}
.m-select {
  display: block;
  background-color: black;
}
.contents-main {
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.thumb-area {
  width: 350px;
  margin-left: 15px;
}
.thumb-mv {
  width: 345px;
  height: 194px;
  background: url("../public/images/youtube.jpg") no-repeat;
  margin-bottom: 13px;
  border-radius: 15px;
}
.thumb-detail {
  display: flex;
}
.thumb-logo {
  width: 56px;
  height: 36px;
  margin-right: 5px;
  border-radius: 50px;
  background: url(../public/images/thumbnail_logo.jpg) no-repeat;
}
.thumb-title {
  font-size: 14px;
  line-height: 1.05rem;
  margin-bottom: 5px;
}
.thumb-user,
.thumb-time {
  margin-bottom: 2px;
  font-size: 13px;
  color: #606060;
}
.thumb-time {
  margin-bottom: 45px;
}
.contents-shorts {
  display: flex;
}
.shorts-logo {
  margin-bottom: 25px;
}

.shorts-area {
  width: 242px;
  margin: 0 15px 15px 0;
}
.shorts-mv {
  width: 241px;
  height: 429px;
  background: url(../public/images/short-img.jpg) no-repeat;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* videoDetail */
.ContainerDetail {
  margin: 30px 0 0 30px;
  width: 95vw;
  display: flex;
  justify-content: center;
}

.DetailLt {
  width: 1280px;
}
.DetailRt {
  width: 380px;
  margin-left: 28px;
}
.DetailMv {
  width: 1280px;
  height: 720px;
  border-radius: 20px;
  background: url(/public/images/img_detail.jpg) no-repeat;
}
.DetailDescription {
  display: flex;
  margin-bottom: 15px;
}
.DetailTitle {
  margin: 16px 0 10px;
  font-size: 1.3rem;
  font-weight: bold;
}
.ThumbImg {
  width: 45px;
  height: 40px;
  border-radius: 50px;
  background: url(/public/images/thumb_img.jpg) no-repeat;
}
.ThumbTitle {
  margin: 0 20px 0 10px;
}
.ThumbUser {
  font-size: 1.1rem;
  font-weight: 500;
}
.ThumbMember {
  font-size: 0.8rem;
  color: #777;
}
.DetailBtnB {
  border: none;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  font-size: 1.1rem;
  margin-right: 235px;
}

.DetailBtn {
  border: none;
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  margin-right: 8px;
}
.DetailBtn span {
  padding: 0 3px;
}
.DetailBtnCir {
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 15px;
  border-radius: 50px;
}
.DetailBottom {
  width: 1250px;
  padding: 15px;
  font-size: 0.98rem;
  background-color: #f2f2f2;
  border-radius: 15px;
  color: #555;
  margin-bottom: 24px;
}
.CommentArea {
  display: flex;
}
.Comment {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
.CommentAdd {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.CommentInput {
  margin-left: 20px;
}
.CommentInput input {
  width: 1200px;
  border: none;
  border-bottom: 1px solid #bbbbbb;
  padding: 10px;
}
.CommentList {
  display: flex;
}
.CommentListTxt {
  margin: 0 0 20px 20px;
}
.CommentListTxt span {
  padding: 15px 0;
}
.UserInfo {
  font-size: 0.8rem;
  font-weight: 500;
}
.CommentCon {
  padding: 5px 0 10px;
}

.DetailSmallList {
  display: flex;
  margin-bottom: 15px;
}
.DetailSmallImg {
  width: 168px;
  height: 95px;
  background: url(/public/images/img-detail-small.jpg) no-repeat;
}
.DetailRtText {
  margin-left: 10px;
  font-size: 0.9rem;
}
.DetailRtTextS {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #777;
}
